<div>
<form action="api/creation" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Create Account</button>
  <h2>After creation you will be redirected to the home page. You may be required to login again. </h2>
</form>
        </div>