<form action="/api/posts" method="post" class="new-post-form">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="text">Text:</label>
    <textarea id="text" name="text" required></textarea>

    <button type="submit">Create Post</button>
  </form>

{{#each posts}}
  <div class="blog-post">
    <h2>{{title}}</h2>
    <p class="post-text">{{text}}</p>
    <p class="post-timestamp">{{time}}</p>
  </div>
{{/each}}