<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link href="../public/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="../public/js/index.js" rel="script"> </script>
</head>
<body>
<nav class="navcontainer">
    <div class="navigation">
        <button class="navbut" id="Home">Home</button> 
        <button class="navbut" id="DashBoard">DashBoard</button> 
        <button class="navbut" id="Login">Log in</button>  
        </div>
    </nav>
    {{{body}}}
</body>
</html>