<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link href="../public/css/index.css" rel="stylesheet">
</head>
<body>
<nav class="navcontainer">
    <div class="navigation">
    <button class="navbut">Home</button> <button class="navbut">DashBoard</button> <button class="navbut">Log in</button>  
        </div>
    </nav> 
</body>
</html>