<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link href="../public/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="../public/js/index.js" rel="script"> </script>
</head>
<body>
<nav class="navcontainer">
  <div class="navigation">
    <button class="navbut" id="Home"><a href="/">Home</a></button>
    <button class="navbut" id="DashBoard"><a href="/dashboard">Dashboard</a></button>
    {{#if isLoggedIn}}
      <button class="navbut" id="Logout"><a href="/logout">Logout</a></button>
    {{else}}
      <button class="navbut" id="Login"><a href="/login">Login</a></button>
    {{/if}}
  </div>
</nav>
    {{{body}}}
</body>
</html>